@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --pp: rgba(rgb(61, 61, 117));
  --bg: linear-gradient(161deg, #fdb5fd 0%, #97d9e1 100%);
}
header {
  width: 100%;
  height: 100vh;
}
/*-------nav---------- */
.navheader {
  position: fixed;
  padding: 0 50px;
  z-index: 4;

  width: 100%;
  background: var(--bg);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: var(pp);
  margin: 10px;

  user-select: none;
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  transition: all 0.4s;
}
.logo:hover {
  transform: translateY(-10px);
}

.menuitems {
  display: flex;
  gap: 20px;
}
.menuitems li {
  list-style: none;
  transition: all 0.2s;
  margin-top: 10px;
}
.menuitems li a {
  text-decoration: none;
  color: var(--pp);
  transition: all 0.4s;
  letter-spacing: 1px;
  font-weight: 600;
}
.menuitems :hover {
  transform: scale(1.1);
  color: rgb(129, 24, 103);
}
.menubtn {
  display: none;
  cursor: pointer;
}
.menubar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;

  background: navy;
}

/* -------responsive------------ */
@media (max-width: 850px) {
  .menubtn {
    display: block;
  }
  .menubar {
    transition: all 0.3s;
  }
  .menubtn.active .menubar:nth-child(2) {
    opacity: 0;
  }
  .menubtn.active .menubar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menubtn.active .menubar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menuitems {
    position: fixed;
    top: 49px;
    left: -1000px;

    text-align: center;
    flex-direction: column;
    z-index: 2;

    width: 100%;
    background: rgb(243, 229, 229);
    transition: all 0.5s;

    padding: 10px;
    margin-top: 10px;
  }
  .menuitems.active li a:hover {
    color: rgb(243, 74, 232);
  }

  .menuitems.active {
    left: 0;
  }
}

/* --------------------intro------------- */

#banner {
  width: 100%;
  background: var(--bg);
}

.intropara {
  padding-top: 160px;
  padding-left: 30px;
  user-select: none;

  animation-name: paraani;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.intropara h1 {
  font-size: 70px;
  color: transparent;
  -webkit-text-stroke: 1px rgb(95, 42, 88);
  background: url(./img/back.png);
  -webkit-background-clip: text;
  animation: back 30s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

@keyframes paraani {
  from {
    transform: translateX(-600px);
  }
  to {
    transform: translateX(0px);
  }
}
.wave {
  width: 100%;
}
.introbtn {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s;
}
.introbtn:hover {
  color: black;
}
.msg {
  width: 20px;
}
.introimage img {
  width: 100%;
  padding-top: 100px;

  animation-name: myani;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes myani {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
